@media (max-width: 425px) {
    body{
        margin: 0vw;
        padding: 0vw;
    
        .fotografiaBody {
            margin-top: 8vw;
            padding-top: 4vw;
    
            .categorias {
    
                .textoCategoria {
                    font-size: 4vw;
                    width: 82%;
                    text-align: justify;
                }
    
                .contenedorCategorias {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
    
                    .itemCategorias {
                        width: 90%;
                        margin-bottom: 8vw;

                        a{
                            .sutituloCategoria {
                                font-size: 6vw;
                            }
        
                            .stan{
                                width: 80vw;
                                height: 80vw;
                            }
                        }
    

                    }
                }
            }
        }
    }
}