@media (max-width: 1024px) {
    body{
        margin: 0vw;
        padding: 0vw;
    
        .fotografiaBody {
    
            .categorias {
    
                .textoCategoria {
                    width: 60%;
                    font-size: 1.8vw;
                    padding-top: 3vw;
                }
    
                .contenedorCategorias {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
    
                    .itemCategorias {
                        width: 45%;
                        margin-bottom: 5vw;
    
                        .sutituloCategoria {
                            font-size: 1.6vw;
                        }
    
                        img{
                            width: 26vw;
                            height: 26vw;
                        }
                    }
                }
            }
        }
    }
}