.ventanaFoto {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    width: 100%;
    height: 53vmax;
    margin-top: 4vw;
    background: rgba(41, 41, 41, 0.781);
    top: 0;
    z-index: 2;

    .fullSizeContainer {
        background: #383838cb;
        width: 100%;
        margin-top: 4vw;
        top: 0;
        position: fixed;
        z-index: 5;
        display: flex;
        flex-direction: row;
        padding: 3vw 0vw 8vw 0vw;
        height: 82vh;
        
    
        .fullSizeImage {
            margin: auto;
            // height: 74vmin;
            // width: auto;
        }
    
        .previousImage {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            vertical-align: center;
            position: absolute;
            width: 2vw;
            margin-top: 40vh;
            margin-left: 10%;
            cursor: pointer;
        }
    
        .nextImage {
            position: absolute;
            width: 2vw;
            margin-top: 40vh;
            // margin-left: 88vw;
            margin-left: 88%;
            cursor: pointer;
        }
    }
    
    .divCerrar {
        position: relative;
        z-index: 5;
        height: 8vw;
        width: 8vw;
    
        .cerrarFullSize {
            position: relative;
            width: 3vw;
            top: 0;
            right: 0;
            margin: 4vw 10vw 0vw 0vw;
            cursor: pointer;
            opacity: 0.5;
            scale: .8;
            transition: .2s;
            z-index: 4;
        }
    
        .cerrarFullSize:hover {
            opacity: 1;
            scale: 1;
            transition: .2s;
            transform: scale(1.1);
        }
    }
    
}


