@media (max-width: 1024px) {

    .ventanaFoto {
    
        .fullSizeContainer {
            height: 90vh;       
        
            .previousImage {
                width: 2vw;
                margin-top: 44vh;
                margin-left: 4%;
                cursor: pointer;
            }
        
            .nextImage {
                margin-top: 44vh;
                margin-left: 94%;
                cursor: pointer;
            }
        }
        
        .divCerrar {
            height: 8vw;
            width: 8vw;
        
            .cerrarFullSize {
                width: 4vw;
                margin: 4vw 10vw 0vw 0vw;
            }
        }
    }
}

