// @charset "UTF-8";
@media (max-width: 1024px) {

    body {
        .homeBody {
            .heroCover{
                position: fixed;
                width: 100%;
                height: 64vw;
                background-image: url('../pictures/home/home-medium.jpg');
                background-size: cover;
                z-index: 1;

                .quote{
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    text-align: end;
                    margin: 5vw 35vw 0vw 35vw;
                    color: rgb(63, 63, 63);
    
                    h4{
                        font-size: 2.2vw;
                        padding: 0vw;
                        margin-bottom: 0vw;
                    }
                    h5{
                        font-size: 2vw;
                        padding: 0vw;
                        margin-top: 2vw;
                    }
                }
            }

            .homeComments{
                margin-top: 66vw;
                padding: 2vw 0vw;

                a {
                    font-size: 1.6vw;
                    padding: 1vw 1vw;
                    width: 42%;
                    border-radius: .3vw;
                }

                .commentsContainer {
                    .commentsDetails {
                        width: 40vw;
                        padding: 2vw;
                        font-size: 1.4vw;
                    }
                }
            }

            .personalidades {
                
                .subtitle {
                    font-size: 2vw;
                }
    
                .stanLee {
                    .spidaermanQuote {
                        font-size: 1.8vw;
                    }
    
                    .stan {
                        height: 30vw;
                    }
                }
    
            }

            .categorias{

                .subtitle {
                    font-size: 2vw;
                }

                .contenedorCategorias {
                    .itemCategorias {
                        width: 40%;
                        margin-bottom: 4vw;

                        .sutituloCategoria {
                            font-size: 1.8vw;
                        }
    
                        img{
                            width: 32vw;
                            height: 32vw;
                        }
                    }
                }
            }

            .contact {
                padding: 5vw;
                margin: 0vw;

                h3 {
                    font-size: 2vw;
                }
            
                form {           
                    .categoryContact {                
                        .categoryContactTitle {
                            font-size: 2vw;
                        }
                
                        .categoryContactInput {
                            height: 4vw;
                            margin-top: 2vw;
                        }
                    }
                
                    .categoryContactText {                
                        .categoryContactTitle {
                            color: azure;
                            position: relative;
                            z-index: 4;
                            display: flex;
                            flex-direction: row;
                            width: 95%;
                            text-align: center;
                            margin-bottom: 0vw;
                            justify-content: left;
                            font-size: 2vw;
            
                        }
                
                        .categoryContactTextArea {
                            height: 20vw;
                            margin-top: 2vw;
                        }
                    }
            
                    .contactButton{
                        display: flex;
                        flex-direction: row;
                        width: 20%;
                        margin: 4vw auto;
                        justify-content: center;
                        font-size: 2vw;
                        padding: .8vw;
                    }
                }
            }
        }

        .footer{
            .footerDiv{
        
                h4{
                    font-size: 1.1vw;
                }
            }
        }
    }

}

