@media (max-width: 1024px) {
  body .homeBody .heroCover {
    position: fixed;
    width: 100%;
    height: 64vw;
    background-image: url("../pictures/home/home-medium.jpg");
    background-size: cover;
    z-index: 1;
  }
  body .homeBody .heroCover .quote {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: end;
    margin: 5vw 35vw 0vw 35vw;
    color: #3f3f3f;
  }
  body .homeBody .heroCover .quote h4 {
    font-size: 2.2vw;
    padding: 0vw;
    margin-bottom: 0vw;
  }
  body .homeBody .heroCover .quote h5 {
    font-size: 2vw;
    padding: 0vw;
    margin-top: 2vw;
  }
  body .homeBody .homeComments {
    margin-top: 66vw;
    padding: 2vw 0vw;
  }
  body .homeBody .homeComments a {
    font-size: 1.6vw;
    padding: 1vw 1vw;
    width: 42%;
    border-radius: .3vw;
  }
  body .homeBody .homeComments .commentsContainer .commentsDetails {
    width: 40vw;
    padding: 2vw;
    font-size: 1.4vw;
  }
  body .homeBody .personalidades .subtitle {
    font-size: 2vw;
  }
  body .homeBody .personalidades .stanLee .spidaermanQuote {
    font-size: 1.8vw;
  }
  body .homeBody .personalidades .stanLee .stan {
    height: 30vw;
  }
  body .homeBody .categorias .subtitle {
    font-size: 2vw;
  }
  body .homeBody .categorias .contenedorCategorias .itemCategorias {
    width: 40%;
    margin-bottom: 4vw;
  }
  body .homeBody .categorias .contenedorCategorias .itemCategorias .sutituloCategoria {
    font-size: 1.8vw;
  }
  body .homeBody .categorias .contenedorCategorias .itemCategorias img {
    width: 32vw;
    height: 32vw;
  }
  body .homeBody .contact {
    padding: 5vw;
    margin: 0vw;
  }
  body .homeBody .contact h3 {
    font-size: 2vw;
  }
  body .homeBody .contact form .categoryContact .categoryContactTitle {
    font-size: 2vw;
  }
  body .homeBody .contact form .categoryContact .categoryContactInput {
    height: 4vw;
    margin-top: 2vw;
  }
  body .homeBody .contact form .categoryContactText .categoryContactTitle {
    color: azure;
    position: relative;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    text-align: center;
    margin-bottom: 0vw;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-size: 2vw;
  }
  body .homeBody .contact form .categoryContactText .categoryContactTextArea {
    height: 20vw;
    margin-top: 2vw;
  }
  body .homeBody .contact form .contactButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 20%;
    margin: 4vw auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2vw;
    padding: .8vw;
  }
  body .footer .footerDiv h4 {
    font-size: 1.1vw;
  }
}
/*# sourceMappingURL=medium.css.map */