@media (max-width: 1024px) {
    .contenedorFotos{
        margin-top: 4vw;

        .packFotos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 94%;
            margin: auto;
            margin-top: 4vw;
            justify-content: space-between;
        
            .card {
                width: 43vw;
                height: 43vw; 
                margin: auto;    
                display: flex;
                flex-direction: column;
                margin-bottom: 2vw;
         
                img{      
                    align-items: center;
                    width: 100%;
                    margin: auto;  
                }
            }
        }
    }
}

