.prensaBody{
    margin-top: 4vw;
    background: #ffffff;

    .prensaArticulos {
        width: 80%;
        margin: auto;
        padding: 3vw;

        .prensaItem {
            padding: 2vw 0vw 4vw 0vw;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-size: 1.4vw;
                display: flex;
                flex-direction: column;
                margin: 1vw;
            }

            p {
                font-size: 1.6vw;
            }

            .imagenPrensa {
                width: 60vw;
                margin: auto;
            }

            .videoPrensa {
                width: 60vw;
                height: 30vw;
                margin: auto;
                


            }

            .imagenNDP1 {
                width: 70%;
                background-image: url('../pictures/prensa/globovision.png');
                background-size: auto;
                margin: auto;
            }

            .buttonVerMas {
                background: #222222;
                display: flex;
                flex-direction: column;
                margin: auto;
                margin-top: 2vw;
                padding: .5vw 1vw;
                border-radius: .3vw;
                cursor: pointer;
                transition: .2s;
                -webkit-box-shadow: 0px 10px 50px -8px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 10px 50px -8px rgba(0,0,0,0.5);
                box-shadow: 0px 10px 50px -8px rgba(0,0,0,0.5);

                a {
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    margin: auto;
                    font-size: 1vw;
                    text-decoration: none;
                    color: #ffffff;
                    transition: .2s;
                }
            }

            .buttonVerMas:hover {
                background: #888888;
                transition: .2s;

                a {
                    color: #000000;
                    transition: .2s;
                }
            }
        }
    }

    a {
        margin-top: 1vw;
        color: black;
    }
}