body{
    margin: 0vw;
    padding: 0vw;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background: #222222;
    // background: #000000;

    .videoBody {
        margin-top: 4vw;
        // background: chartreuse;

        .categorias {
            background: #000000;
            position: relative;
            z-index: 4;
            display: flex;
            flex-direction: column;
            padding: 3vw 0vw;
            margin: auto;
            

            .textoCategoria {
                color: #ffffff;
                text-align: center;
                font-size: 1.2vw;
                width: 40%;
                text-align: center;
                margin: auto;
            }

            .contenedorCategorias {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 90%;
                margin: auto;

                .itemCategorias {
                    display: flex;
                    flex-direction: column;
                    width: 21%;
                    // margin: auto;
                    // margin-bottom: -6vw;
                    // margin-top: -3vw;
                    margin: 4vw auto -6vw auto;
                    align-items: center;

                    .sutituloCategoria {
                        color: #ffffff;
                        font-size: 1.2vw;
                    }

                    iframe{
                        width: 80vw;
                        height: 30vw;
                        margin-bottom: 8vw;
                        transition-duration: .3s;
                        -webkit-box-shadow: 1px 15px 46px -32px rgba(255, 255, 255, 0.185);
                        -moz-box-shadow: 1px 15px 46px -32px rgba(255, 255, 255, 0.192);
                        box-shadow: 1px 15px 46px -32px rgba(255, 255, 255, 0.096);
                    }
                }
            }
        }

    }
}
