@media (max-width: 425px) {
    body{
        margin: 0vw;
        padding: 0vw;
     
        .videoBody {
            margin-top: 8vw;
            padding-top: 4vw;
    
            .categorias {
    
                .textoCategoria {
                    font-size: 3.6vw;
                }
    
                .contenedorCategorias {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
    
                    .itemCategorias {
                        width: 90%;
                        margin-bottom: 8vw;
    
                        .sutituloCategoria {
                            font-size: 4.4vw;
                        }

                    }
                }
            }
    
        }
    }
}